
{% load staticfiles %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}" media="screen" title="no title" charset="utf-8">
   <script type="text/javascript" src="{% static 'js/jquery.min.js' %}">
   </script>
   <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}">
   </script>

   <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
   <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
   <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Montserrat|Poiret+One|Raleway" rel="stylesheet">

   <script src="{% static 'js/owl.carousel.min.js' %}"></script>

</head>

<body>

<div id="fb-root"></div>
<script>

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1726808974303193', // Set YOUR APP ID
      channelUrl : 'http://cabme.in', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
 
    FB.Event.subscribe('auth.authResponseChange', function(response) 
    {
     if (response.status === 'connected') 
    {
        document.getElementById("message").innerHTML +=  "<br>Connected to Facebook";
        //SUCCESS
 
    }    
    else if (response.status === 'not_authorized') 
    {
        document.getElementById("message").innerHTML +=  "<br>Failed to Connect";
 
        //FAILED
    } else 
    {
        document.getElementById("message").innerHTML +=  "<br>Logged Out";
 
        //UNKNOWN ERROR
    }
    }); 
 
    };
 
    function Login()
    {
 
        FB.login(function(response) {
           if (response.authResponse) 
           {
                getUserInfo();
            } else 
            {
             console.log('User cancelled login or did not fully authorize.');
            }
         },{scope: 'email,user_photos,user_videos'});
 
    }
 
  function getUserInfo() {
        FB.api('/me', function(response) {
 
      var str="<b>Name</b> : "+response.name+"<br>";
          str +="<b>Link: </b>"+response.link+"<br>";
          str +="<b>Username:</b> "+response.username+"<br>";
          str +="<b>id: </b>"+response.id+"<br>";
          str +="<b>Email:</b> "+response.email+"<br>";
          str +="<input type='button' value='Get Photo' onclick='getPhoto();'/>";
          str +="<input type='button' value='Logout' onclick='Logout();'/>";
          document.getElementById("status").innerHTML=str;
 
    });
    }
    function getPhoto()
    {
      FB.api('/me/picture?type=normal', function(response) {
 
          var str="<br/><b>Pic</b> : <img src='"+response.data.url+"'/>";
          document.getElementById("status").innerHTML+=str;
 
    });
 
    }
    function Logout()
    {
        FB.logout(function(){document.location.reload();});
    }
 
  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
 
</script>
<div align="center">
<h2>Facebook OAuth Javascript</h2>
 
<div id="status">
 Click on Below Image to login: <br/>
<img src="http://hayageek.com/examples/oauth/facebook/oauth-javascript/LoginWithFacebook.png" style="cursor:pointer;" onclick="Login()"/>
</div>
 
<br/><br/><br/><br/><br/>
 
<div id="message">
Logs:<br/>
</div>
 
</div>
 
</script>

   <div class="landing-wrapper">
       <div class="nav">
           <div class="nav-inner">
             <div class="logo">
                <a href="{% url 'cab:index' %}">
                  <img src="{% static 'img/logo.png' %}">
              </a>
          </div>
          <div class="menu">
              <ul class="nav-menu">
                 <li>Deals </li>
                 <li>C Cash</li>
                 <li>For Bookings: 8890605392</li>
                {% if user.is_authenticated == 1 %}
                  <li><a href="/dashboard/" style="text-decoration: none;color:inherit;">Dashboard</li>
                  <li><a href="/accounts/logout/" style="text-decoration: none;color:inherit;">Logout</li>
               {% endif %}
             </ul>
               <ul class="account-menu">
                 {% if user.is_authenticated == 1 %}
                   <li id="view-account-menu">Hi {{name}} </li>
                 {% else %}   
                   <li id="sign-in-trigger">Sign In</li>
                 {% endif %}
               </ul>
               <ul class="account-menu sm-menu">
                      
                     <li id="menu-trigger"><img src="{% static 'img/ham2.svg' %}" style="width: 30px;"></li>
                   
               </ul>
         </div>
     </div>
 </div>
 <div class="content">
  {% block content %}{% endblock %}
</div>
<div class="lightbox-wrapper">
    <div class="lightbox-inner-wrapper">
        <div class="lightbox-overlay"></div>
        <div class="lightbox-inner temp center">
            <img src="{% static 'img/ajax-loader.gif' %}">
        </div>
        <div class="lightbox-inner login-reg">
            <div class="back-head">
                <div class="headers">
                    <ul>
                        <li class="active">Sign In</li>
                        <li>Sign Up</li>
                    </ul>
                </div>
            </div>
            <div class="login-form-wrapper row">
                <div class="col-s2 bd-right">
                    <div class="form-inner">
                        <form id="login-form" >
                        {% csrf_token %}
                            <div class="logo-sm">
                                <img src="{% static 'img/logo-inv.png'%}">
                            </div>
                            <div class="input-wrap-2">
                                <input class="input-field" type="email" placeholder="Email" name="email" required=""></input>
                            </div>
                            <div class="input-wrap-2">
                                <input class="input-field" type="password" placeholder="Password" name="password" required=""></input>
                            </div>
                            <button type="submit" id="sign-in">Sign In</button>
                             <div class="foot-note">
                                 <p class="message-login success">
                                </p>
                                 <p class="message-login fail">
                                </p>
                                <p class="forgot-pass">Forgot Password?</p>
                            </div>
                        </form>
                        <form id="register-form">
                            {% csrf_token %}
                            <div class="input-wrap-2">
                                <input class="input-field" type="text" placeholder="Name" name="name" required=""></input>
                            </div>
                            <div class="input-wrap-2">
                                <input class="input-field" type="text" placeholder="Phone" name="phone" required="" maxlength="10"></input>
                            </div>
                            <div class="input-wrap-2">
                               <input class="input-field" type="email" placeholder="Email" name="email" required=""></input>
                            </div>
                            <div class="input-wrap-2">
                                <input class="input-field" type="password" placeholder="Password" name="password" required=""></input>
                            </div>
                            <div class="input-wrap-2">
                                <input class="input-field" type="password" placeholder="Confirm Password" name="password_confirm" required=""></input>
                            </div>
                            <button type="submit" id="sign-up">Sign Up</button>
                            <div class="foot-note">
                                <p class="message-login success">
                                </p>
                                 <p class="message-login fail">
                                </p>
                                <!-- <p class="forgot-pass">Forgot Password?</p> -->
                            </div>

                        </form>
                       <form id="forgot-pass-form" >
                        {% csrf_token %}
                           
                           <div class="input-wrap-2 forgot-pass-text">
                                <h3>Forgot Password? </h3>
                                <p>We will send a new password on your registered email address</p>

                            </div>
                            <div class="input-wrap-2">
                                <input class="input-field" type="email" placeholder="Email" name="email" required=""></input>
                            </div>
                           
                            <button type="submit" id="reset-pass">Reset Password</button>
                             <div class="foot-note">
                                 <p class="message-login success">
                                </p>
                                 <p class="message-login fail">
                                </p>
                               
                            </div>
                        </form>
                    </div>

                </div>
                {% if not user.is_authenticated %}
                    <div class="col-s2 social-wrapper">
                            <p>OR</p>
                            <div class="social-button-wrapper">
                                <div class="facebook-login social-button">
                                <a href="javascript:allauth.facebook.login%28%27%27%2C%20%27authenticate%27%2C%20%27login%27%29">
                                    <img src="{% static 'img/login-fb.png' %}">
                                    </a>
                                </div>
                                <div class="google-login social-button">
                                <a href="/accounts/social/google/login/">
                                    <img src="{% static 'img/login-google.png' %}">
                                    </a>
                                </div>
                            </div>
                    </div>
                {% else %}
                    <div>
                        
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="lightbox-inner c-cash">
            
        </div>
        <div class="lightbox-inner post-cab-wrap">
            <div class="row">
             <div class="col-s2">
                 <img src="{% static 'img/lightbox_left.jpg' %}">
             </div>
             <div class="col-s2 content-display">
                 <div class="content-display-inner">
                     <h1 id="post-cab-message">Your cab has been successfully posted</h1>
                     <p id="view_bookings">View Bookings</p>
                 </div>
             </div>
            </div>
        </div>
         <div class="lightbox-inner additional-info">
            <div class="row">
             <div class="col-s2 info-img">
                 <img src="{% static 'img/lightbox_left.jpg' %}">
             </div>
             <div class="col-s2 info-display">
                 <div class="info-display-inner">
                     <div class="info-header">
                     <h3>Step 2</h3>
                     </div>
                     <div class="info-form">
                     <p class="info-text">Phone Number</p>
                      <form id="social-info-form">
                         {% csrf_token %}
                            <div class="input-wrap-2"><input class="input-field" type="text"  name="phone" required="" maxlength="10"></input>
                            </div>
                          <button type="submit" id="social-info-submit">Confirm</button>
                          <p class="message fail"></p>
                      </form>
                     </div>
                 </div>
             </div>
            </div>
        </div>
          <div class="lightbox-inner verify_otp">
            <div class="row">
             <div class="col-s2 info-img">
                 <img src="{% static 'img/lightbox_left.jpg' %}">
             </div>
             <div class="col-s2 info-display">
                 <div class="info-display-inner">
                     <div class="info-header">
                     <h3>Verify</h3>
                     </div>
                     <div class="info-form">
                     <p class="info-text">Enter OTP</p>
                      <form id="otp-form">
                         {% csrf_token %}
                            <div class="input-wrap-2"><input class="input-field" type="text"  name="otp" required=""></input>
                            </div>
                          <button type="submit" id="otp-submit">Confirm</button>
                          <p class="message fail"></p>
                      </form>
                     </div>
                 </div>
             </div>
            </div>
        </div>
    </div>
    <div class="close">&#10005;</div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-s2 left-footer" style="
        padding: 3% 4%;
        height: 67%;
        ">
        <div class="row logo-footer">
            <img src="{% static 'img/logo-inv.png' %}" alt="">
        </div>
        <div class="row follow">
           <ul>
                <li><img src="{% static 'img/fb-logo.png' %}"></li>
                <li><img src="{% static 'img/twitter-logo.png' %}"></li>
                <li><img src="{% static 'img/insta-logo.png' %}"></li>
            </ul>
        </div>
        <div class="row apps">
            <div class="col">
                <img src="{% static 'img/playstore.png' %}" alt="">
            </div>
            <div class="col">
                <img src="{% static 'img/applestore.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="col-s2 right-footer" style="
    padding: 3% 4%;
    height: 67%;
    ">
    <div class="col-s2">
        <h3>Company</h3>
        <ul>
            <li><a href="{% url 'cab:about' %}">About</a></li>
            <li><a href="{% url 'cab:faq' %}">FAQ</a></li>
            <li><a href="{% url 'cab:privacy_policy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'cab:press_release' %}">Press Release</a></li>
            <li><a href="{% url 'cab:terms_and_conditions' %}">Terms And Conditions</a></li>

        </ul>
    </div>
    <div class="col-s2">
        <h3>Discover</h3>
        <ul>
          <li><a href="{% url 'cab:blog' %}">Blog</a></li>
          <li><a href="{% url 'cab:career' %}">Career</a></li>
          <li><a href="{% url 'cab:index' %}">Testimonials</a></li>
          <li><a href="{% url 'cab:index' %}">Feedback</a></li>
      </ul>
  </div>
</div>
</div>
</div>
<div class="sm-footer">
   <div class="row">
        <div class="col-s1 left-footer">
        <div class="row logo-footer">
            <img src="{% static 'img/logo-inv.png' %}" alt="">
        </div>
        <div class="row follow">
           <ul>
                <li><img src="{% static 'img/fb-logo.png' %}"></li>
                <li><img src="{% static 'img/twitter-logo.png' %}"></li>
                <li><img src="{% static 'img/insta-logo.png' %}"></li>
            </ul>
        </div>
        <div class="row apps">
            <div class="col">
                <img src="{% static 'img/playstore.png' %}" alt="">
            </div>
            <div class="col">
                <img src="{% static 'img/applestore.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="right-footer">
        <ul class="sm-footer-links">
   <li><a href="{% url 'cab:about' %}">About</a></li>
            <li><a href="{% url 'cab:faq' %}">FAQ</a></li>
            <li><a href="{% url 'cab:privacy_policy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'cab:press_release' %}">Press Release</a></li>
            <li><a href="{% url 'cab:terms_and_conditions' %}">Terms And Conditions
           <li><a href="{% url 'cab:blog' %}">Blog</a></li>
          <li><a href="{% url 'cab:career' %}">Career</a></li>
          <li><a href="{% url 'cab:index' %}">Testimonials</a></li>
          <li><a href="{% url 'cab:index' %}">Feedback</a></li>
        </ul>
    </div>
    </div>
</div>
</div>
<script src="{% static 'js/script.js' %}"></script>

  <script>
  // google analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89710776-1', 'auto');
  ga('send', 'pageview');

</script>

<div id="fb-root"></div>
<script id="allauth-facebook-settings" type="application/json">
{"cancelUrl": "http://cabme.in/accounts/social/social/login/cancelled/", "loginByTokenUrl": "http://cabme.in/accounts/social/facebook/login/token/", "version": "v2.4", "logoutUrl": "http://cabme.in/accounts/social/logout/", "loginOptions": {"scope": "email"}, "appId": "1726808974303193", "locale": "en_US", "loginUrl": "http://cabme.in/accounts/social/facebook/login/", "csrfToken": "gPtPxINGyhzenr5U8zkf1T9V75O8EG51", "errorUrl": "http://cabme.in/accounts/social/social/login/error/"}
</script>
 <script type="text/javascript" src="/static/facebook/js/fbconnect.js"></script>
<script type="text/javascript">
  var i=location.href.indexOf('#')
if(i!=-1)
{
  var lightBox = location.href.substr(i+1);
  lightbox_trigger(lightBox);
}
</script>
</body>
</html>
