
{% load staticfiles %}
<html>

<head>
   <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
   <script type="text/javascript" src="{% static 'js/jquery.min.js' %}">
   </script>
   <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}">
   </script>

   <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
   <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
   <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
   <script src="{% static 'js/owl.carousel.min.js' %}"></script>
</head>

<body>

   <div class="landing-wrapper">
       <div class="nav">
           <div class="nav-inner">
             <div class="logo">
              <img src="{% static 'img/logo.png' %}">
          </div>
          <div class="menu">
              <ul class="nav-menu">
                 <li>Deals </li>
                 <li>C Cash</li>
                 <li>CabMe Corporate</li>
             </ul>
             <ul class="account-menu">
                 <li>Sign In</li>
             </ul>
         </div>
     </div>
 </div>
 <div class="content">
  <div class="back-drop"> </div>
 <div class="row">
      <div class="blog-panel">
          <div class="card type-1">
          <div class="headers">
                    <ul>
                        <li class="active"><a href="{% url 'cab:index' %}">Blog</a></li> 
                    </ul>
                </div>
              <div class="row">
                <h3 class="card-label blog-title">Thanking America’s Veterans, Today and Every Day</h3>
            </div>
            <div class="row blog-details">
                <div class="col-s1 blog-image">
                    <img src="/static/img/blog/blog1.png" alt="">
                </div>
                <div class="row blog-content">
                    <div class="col-s6-5">
                        <div class="small-details">
                        <span class="blog-date">November 11, 2016 </span> | Posted by 
                        <span class="blog-author">Emil Michael, Chief Business Officer and Executive Sponsor of UberMILITARY
                        </span>
                        </div>
                        <div class="text-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus fuga itaque odio impedit suscipit at laborum veniam iusto facilis aspernatur rem, sequi repellendus, autem quia pariatur assumenda voluptas minus, voluptates!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-featured">
      <div class="card type-1">
          <div class="row">
            <h3 class="card-label">Featured Articles <span>&gt;</span></h3>
        </div>
        <div class="row">
        <div class="col-s1 featured-list">
          <ul>
              <li>Let’s take care of each other</li>
              <li>9 Things to Know About the Uber Driver App for iOS</li>
              <li>Let’s take care of each other</li>
              <li>9 Things to Know About the Uber Driver App for iOS</li>
          </ul>
        </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-s2 left-footer" style="
        padding: 3% 4%;
        height: 67%;
        ">
        <div class="row logo-footer">
            <img src="{% static 'img/logo.png' %}" alt="">
        </div>
        <div class="row follow">
            <p>Follow Us</p>
            <ul>
                <li><img src="{% static 'img/fb.png' %}"></li>
                <li><img src="{% static 'img/twitter.png' %}"></li>
                <li><img src="{% static 'img/youtube.png' %}"></li>
            </ul>
        </div>
        <div class="row apps">
            <div class="col">
                <img src="{% static 'img/playstore.png' %}" alt="">
            </div>
            <div class="col">
                <img src="{% static 'img/applestore.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="col-s2 right-footer" style="
    padding: 3% 4%;
    height: 67%;
    ">
    <div class="col-s2">
            <h3>Company</h3>
            <ul>
                <li><a href="{% url 'cab:about' %}">About</a></li>
              <li><a href="{% url 'cab:faq' %}">FAQ</a></li>
              <li><a href="{% url 'cab:privacy_policy' %}">Privacy Policy</a></li>
              <li><a href="{% url 'cab:press_release' %}">Press Release</a></li>
              <li><a href="{% url 'cab:terms_and_conditions' %}">Terms And Conditions</a></li>
                
            </ul>
        </div>
        <div class="col-s2">
            <h3>Discover</h3>
            <ul>
              <li><a href="{% url 'cab:blog' %}">Blog</a></li>
              <li><a href="{% url 'cab:career' %}">Career</a></li>
              <li><a href="{% url 'cab:index' %}">Testimonials</a></li>
              <li><a href="{% url 'cab:index' %}">Feedback</a></li>
            </ul>
        </div>
</div>
</div>
</div>
</div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
