{% extends 'cab/base.html' %}
{% block content %}
 {% load staticfiles %}
	          <div class="back-drop"> </div>
	          <div class="card type-1">
	          	<div class="headers">
		          	<ul>
		          		<li><a href="../">Cabs</a></li>
		          		<li><a href="https://www.easemytrip.com/domestic-flights.html" target="_blank">Flights</a></li>
		          		<li class="active"><a href="http://bus.easemytrip.com/" target="_blank">Buses</a></li>
		          		<li><a href="http://hotel.easemytrip.com/" target="_blank">Hotels</a></li>
		          		<li><a href="http://holidays.easemytrip.com/" target="_blank">Holidays</a></li>
		          	</ul>
	          	</div>
	          	<div class="row">
                    <h3 class="card-label">India's Best Bus Service </h3>
                </div>
	          	<div class="form-opts">
	          	<div class="col-s2">
	<iframe id="dynamiciframe"  src = "http://safarindia.in/Bus_Engine.htm?code=BET1118763&url=http://cabme.in/"  style="width: 555px; height:355px; overflow:hidden" frameborder="0" scrolling="no"></iframe>

	</div>
	<div class="col-s2">
	<img src="" class="flight-banner">
	</div>
<!-- 
	          		<div class="form-data" id="outstation-form">

	          			<div class="input-row">
	          				<div class="input-wrap-2">
	          					<span class="city"></span>
	          					<input type="text" class="input-field" placeholder="City">
	          				</div>


	          				<div class="input-wrap-2">
	          					<span class="calender"></span>
	          					<input required="" class="input-field"  type="text" class="form-control" placeholder="Check In" onfocus="(this.type='date')"/>

	          				</div>
	          				<div class="input-wrap-2">
	          					<span class="calender"></span>
	          					<input required="" class="input-field"  type="text" class="form-control" placeholder="Check Out" onfocus="(this.type='date')"/>


	          				</div>
	          				<div class="input-wrap-3">
	          				<select name="type" id="out-cab-class" class="cab-class">
	          					<option value="" disabled selected>Rooms</option>
	          					<option value="1">1</option>
	          					<option value="2">2</option>
	          					<option value="3">3</option>
	          					<option value="4">4</option>
	          					<option value="5">5</option>
	          				</select>
	          				</div>
	          				<div class="input-wrap-3">
	          					<input required="" class="input-field" type="text" placeholder="Adults" style="
    width: 100%;
">
	          				</div>
	          				<div class="input-wrap-3">
	          					<input required="" class="input-field" type="text" placeholder="Children" style="
    width: 100%;
">
	          				</div>
	          				<div class="input-wrap-3" style="margin-left:25px;">
		          				<button type="submit" class="form-submit">Search</button>
	          				</div>
	          			</div>
	          	
	          		</div>
 -->
	          	</div>
	          </div>
	          <div class="card-2 type-2 offers">
	          	 <div class="row" style="
    justify-content: center;
">
                    <h3 class="card-label type-2">Offers</h3>
                </div>
                <div class="row" style="
    margin-bottom: 17vh;
    top: -8vh;
    position: relative;
">
                	<div class="col-s3">
                		<div class="card">
                		</div>
                	</div>
                	<div class="col-s3">
                		<div class="card">
                		</div>
                	</div>
                	<div class="col-s3">
                		<div class="card">
                		</div>
                	</div>
                </div>
	          </div>

	          <div class="card type-2 dest">
                <div class="row">
                    <h3 class="card-label">Top Destinations<span class="caret">></span></h3>
                </div>
                <div class="row">
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Goa
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Mumbai
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Delhi
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Bengaluru
                   	</div>
                   </div>
                </div>
                <div class="row" style="
    margin-bottom: 20px;
">
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Hyderabad
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Chennai
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Pune
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Shimla
                   	</div>
                   </div>
                </div>

              </div>
              <div class="card type-2 testimonial">
	          	<div class="row">
	          		<h3 class="card-label">Testimonials <span class="caret">></span></h3>
	          	</div>
	          	<div class="row" style="
    margin-top: 6vh;
    margin-bottom: 6vh;
">
	          		<div class="col-s3">
	          			<div class="testimonial-detail">
	          				<div class="{% static 'img">
	          				<img src="{% static 'img/user1.png' %}" alt="">
	          				</div>
	          				<div class="text">
	          				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laudantium, tempore provident cupiditate dolorem iste explicabo.
	          				<div class="head">
	          					Martin Luther
	          				</div>
	          				</div>
	          			</div>
	          		</div>
	          		<div class="col-s3">
	          			<div class="testimonial-detail">
	          				<div class="{% static 'img">
	          				<img src="{% static 'img/user2.jpg' %}" alt="">
	          				</div>
	          				<div class="text">

	          				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laudantium, tempore provident cupiditate dolorem iste explicabo.
	          				<div class="head">
	          					Martin Luther
	          				</div>

	          				</div>
	          			</div>
	          		</div>
	          		<div class="col-s3">
	          			<div class="testimonial-detail">
	          				<div class="{% static 'img">
	          				<img src="{% static 'img/user3.jpg' %}" alt="">
	          				</div>
	          				<div class="text">
	          				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laudantium, tempore provident cupiditate dolorem iste explicabo.
	          				<div class="head">
	          					Martin Luther
	          				</div>
	          				</div>
	          			</div>
	          		</div>
                </div>
	          </div>
            </div>
 {% endblock %}