{% extends 'cab/base.html' %}


{% block content %}
{% load staticfiles %}

<div class="back-drop"> </div>
<div class="row earn-money-panel">
  <div class="card type-1">
    <div class="headers">
      <ul>
        <li class="active"><a href="{% url 'cab:about' %}">Earn Money</a></li> 
      </ul>
    </div>
    <div class="row">
      <div class="headers inner-dash">
        <ul>
          <li class="active" data-block='step-1'>Step 1</li> 
          <li data-block='step-2'>Step 2</li> 
          <li data-block='step-3'>Step 3</li> 
          <li data-block='step-4'>Step 4</li> 
        </ul>
      </div>
    </div>
    <div class="row earn-money-details-wrapper">
    <div class="col-s2">
 
      <div class="earn-money-details step-1 row">
  
        <div class="col-s1">
            <img src="{% static 'img/earn_money/step-1.png' %}">
            <p>Login with the same email</p>
        </div>


    </div>
       <div class="earn-money-details step-2 row">
  
        <div class="col-s1">
            <img src="{% static 'img/earn_money/step-2.png'%}">
        </div>


    </div>
  
  
    <div class="earn-money-details step-3 row">
  
        <div class="col-s1">
            <img src="{% static 'img/earn_money/step-3.png'%}">
        </div>


    </div>
  
    <div class="earn-money-details step-4 row">
  
        <div class="col-s1">
            <img src="{% static 'img/earn_money/step-4.png'%}">
        </div>


    </div>
     <div class="earn-money-details step-5 row">
  
        <div class="col-s1">
            <img src="{% static 'img/earn_money/step-5.png'%}">
        </div>


    </div>
  
    
  <script type="text/javascript">
    var stage = parseInt('{{refer_stage}}')+1
    console.log('{{refer_stage}}');
    $('.earn-money-details').hide();
     $('.step-'+stage).css({
      'display':'flex'
     });
     $('.headers.inner-dash li').removeClass('active');
     $('.headers.inner-dash li[data-block=step-'+stage+']').addClass('active')
  </script>
 
    
  </div>
  <div class="col-s2">
  <div class="wallet-amount-inner">
       <h3>Wallet</h3>
       <p>₹&nbsp;<span id="wallet_amount">{{wallet}}</span></p>
       </div>
  <h2 class="earn-money-status">{{message}}</h2>
  <div class="checkout-wrap">
  <p class="add_money" id="checkout_paytm">Checkout</p>
  <p class="checkout_message">Minimum amount required ₹&nbsp;1200 to checkout to paytm </p>
  </div>
  </div>
  </div>
</div>
 </div>
</div>

{% endblock %}