{% load static from staticfiles %}

	<html>

	<head>
	    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
	    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}">
	    </script>

<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	</head>

	<body>
	    <div class="landing-wrapper">
	        <div class="nav">
	            <div class="nav-inner">
		        	<div class="logo">
						<img src="{% static 'img/logo.png' %}">
					</div>
		        	<div class="menu">
						<ul class="nav-menu">
							<li>Deals </li>
							<li>C Cash</li>
							<li>CabMe Corporate</li>
						</ul>
						<ul class="account-menu">
							<li>Sign In</li>
						</ul>
					</div>
	            </div>
	        </div>
	        <div class="content">
	          <div class="back-drop"> </div>
	          <div class="card type-1">
	          	<div class="headers">
		          	<ul>
		          		<li><a href="./index.html">Cabs</a></li>
		          		<li><a href="./flights.html">Flights</a></li>
		          		<li><a href="./buses.html">Buses</a></li>
		          		<li class="active"><a href="./hotels.html">Hotels</a></li>
		          		<li><a href="./holidays.html">Holidays</a></li>
		          	</ul>
	          	</div>
	          	<div class="row">
                    <h3 class="card-label">India's Largest Hotels </h3>
                </div>
	          	<div class="form-opts">

	          		<div class="form-data" id="outstation-form">

	          			<div class="input-row">
	          				<div class="input-wrap-2">
	          					<span class="city"></span>
	          					<input type="text" class="input-field" placeholder="City">
	          				</div>


	          				<div class="input-wrap-2">
	          					<span class="calender"></span>
	          					<input required="" class="input-field"  type="text" class="form-control" placeholder="Check In" onfocus="(this.type='date')"/>

	          				</div>
	          				<div class="input-wrap-2">
	          					<span class="calender"></span>
	          					<input required="" class="input-field"  type="text" class="form-control" placeholder="Check Out" onfocus="(this.type='date')"/>


	          				</div>
	          				<div class="input-wrap-3">
	          				<select name="type" id="out-cab-class" class="cab-class">
	          					<option value="" disabled selected>Rooms</option>
	          					<option value="1">1</option>
	          					<option value="2">2</option>
	          					<option value="3">3</option>
	          					<option value="4">4</option>
	          					<option value="5">5</option>
	          				</select>
	          				</div>
	          				<div class="input-wrap-3">
	          					<!-- <span class="calender"></span> -->
	          					<input required="" class="input-field" type="text" placeholder="Adults" style="
    width: 100%;
">
	          				</div>
	          				<div class="input-wrap-3">
	          					<!-- <span class="calender"></span> -->
	          					<input required="" class="input-field" type="text" placeholder="Children" style="
    width: 100%;
">
	          				</div>
	          				<div class="input-wrap-3" style="margin-left:25px;">
		          				<button type="submit" class="form-submit">Search</button>
	          				</div>
	          			</div>
	          			<!-- <div class="input-row-3">
	          			</div> -->
	          		</div>

	          	</div>
	          </div>
	          <div class="card-2 type-2 offers">
	          	 <div class="row" style="
    justify-content: center;
">
                    <h3 class="card-label type-2">Offers</h3>
                </div>
                <div class="row" style="
    margin-bottom: 17vh;
    top: -8vh;
    position: relative;
">
                	<div class="col-s3">
                		<div class="card">
                		</div>
                	</div>
                	<div class="col-s3">
                		<div class="card">
                		</div>
                	</div>
                	<div class="col-s3">
                		<div class="card">
                		</div>
                	</div>
                </div>
	          </div>

	          <div class="card type-2 dest">
                <div class="row">
                    <h3 class="card-label">Top Destinations<span>></span></h3>
                </div>
                <div class="row">
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Goa
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Mumbai
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Delhi
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Bengaluru
                   	</div>
                   </div>
                </div>
                <div class="row" style="
    margin-bottom: 20px;
">
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Hyderabad
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Chennai
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Pune
                   	</div>
                   </div>
                   <div class="col-s4">
                   	<div class="dest-name">
                   		Shimla
                   	</div>
                   </div>
                </div>

              </div>
              <div class="card type-2 testimonial">
	          	<div class="row">
	          		<h3 class="card-label">Testimonials <span>></span></h3>
	          	</div>
	          	<div class="row" style="
    margin-top: 6vh;
    margin-bottom: 6vh;
">
	          		<div class="col-s3">
	          			<div class="testimonial-detail">
	          				<div class="{% static 'img">
	          				<img src="{% static 'img/user1.png' %}" alt="">
	          				</div>
	          				<div class="text">
	          				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laudantium, tempore provident cupiditate dolorem iste explicabo.
	          				<div class="head">
	          					Martin Luther
	          				</div>
	          				</div>
	          			</div>
	          		</div>
	          		<div class="col-s3">
	          			<div class="testimonial-detail">
	          				<div class="{% static 'img">
	          				<img src="{% static 'img/user2.jpg' %}" alt="">
	          				</div>
	          				<div class="text">

	          				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laudantium, tempore provident cupiditate dolorem iste explicabo.
	          				<div class="head">
	          					Martin Luther
	          				</div>

	          				</div>
	          			</div>
	          		</div>
	          		<div class="col-s3">
	          			<div class="testimonial-detail">
	          				<div class="{% static 'img">
	          				<img src="{% static 'img/user3.jpg' %}" alt="">
	          				</div>
	          				<div class="text">
	          				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laudantium, tempore provident cupiditate dolorem iste explicabo.
	          				<div class="head">
	          					Martin Luther
	          				</div>
	          				</div>
	          			</div>
	          		</div>
                </div>
	          </div>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="col-s2 left-footer" style="padding: 3% 4%; height: 67%; ">
                        <div class="row logo-footer">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </div>
                        <div class="row follow">
                            <p>Follow Us</p>
                            <ul>
                                <li><img src="{% static 'img/fb.png' %}"></li>
                                <li><img src="{% static 'img/twitter.png' %}"></li>
                                <li><img src="{% static 'img/youtube.png' %}"></li>
                            </ul>
                        </div>
                        <div class="row apps">
                            <div class="col">
                                <img src="{% static 'img/playstore.png' %}" alt="">
                           </div>
                            <div class="col">
                                <img src="{% static 'img/applestore.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-s2 right-footer" style="padding: 3% 4%; height: 67%; ">
                        <div class="col-s2">
                            <h3>Company</h3>
                            <ul>
                                <li>About Us</li>
                                <li>Media</li>
                                <li>Terms of Service</li>
                                <li>Privacy Policy</li>
                                <li>FAQ</li>
                                <li>Contact</li>
                                <li>Site Map</li>
                            </ul>
                        </div>
                        <div class="col-s2">
                            <h3>Discover</h3>
                            <ul>
                                <li>Career</li>
                                <li>Feedback</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
	    </div>
	    <script src="{% static 'js/script.js' %}"></script>
	</body>
</html>
