
    {% load staticfiles %}
    <html>

    <head>
       <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
       <script type="text/javascript" src="{% static 'js/jquery.min.js' %}">
       </script>
       <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}">
       </script>

       <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
       <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
       <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
       <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    </head>

    <body>

       <div class="landing-wrapper">
           <div class="nav">
               <div class="nav-inner">
                 <div class="logo">
                  <img src="{% static 'img/logo.png' %}">
              </div>
              <div class="menu">
                  <ul class="nav-menu">
                     <li>Deals </li>
                     <li>C Cash</li>
                     <li>CabMe Corporate</li>
                 </ul>
                 <ul class="account-menu">
                     <li>Sign In</li>
                 </ul>
             </div>
         </div>
     </div>
     <div class="content">
      <div class="back-drop"> </div>
     <div class="row">
          <div class="blog-panel">
              <div class="card type-1">
              <div class="headers">
                        <ul>
                            <li class="active"><a href="{% url 'cab:index' %}">Privacy Policy</a></li> 
                        </ul>
                    </div>
                  <div class="row">
                    <h3 class="card-label about-title">CabMe Terms of Service and Privacy Policy</h3>
                </div>
                <div class="row blog-details">

                    <div class="row terms-content">
                        <div class="col-s1">

                            <div class="text-content">
                                <ol class="privacy-list">
    <li><h2>Terms

</h2>
    <div style="text-align: left;">
By accessing the web site at http://www.cabme.in, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trademark law.</div>
    </li>
    <li style="text-align: left;"><h2>Use License</h2>
    <div>Permission is granted to temporarily download one copy of the materials (information or software) on CabMe's web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
modify or copy the materials;
use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
attempt to decompile or reverse engineer any software contained on CabMe's web site;
remove any copyright or other proprietary notations from the materials; or
transfer the materials to another person or "mirror" the materials on any other server.
This license shall automatically terminate if you violate any of these restrictions and may be terminated by CabMe at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
</div>
    </li>
    <li style="text-align: left;"><h2>Disclaimer</h2>
    <div>The materials on CabMe's web site are provided "as is". CabMe makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, CabMe does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
</div>
    </li>
    <li style="text-align: left;"><h2>Limitations
</h2>
    <div> 
In no event shall CabMe or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on CabMe's Internet site, even if CabMe or a CabMe authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</div>
    </li>
    <li style="text-align: left;"><h2>Revisions and Errata</h2>
    <div>

The materials appearing on CabMe's web site could include technical, typographical, or photographic errors. CabMe does not warrant that any of the materials on its web site are accurate, complete, or current. CabMe may make changes to the materials contained on its web site at any time without notice. CabMe does not, however, make any commitment to update the materials.</div>
    </li>
    <li style="text-align: left;"><h2> Links</h2>
    <div>.

CabMe has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by CabMe of the site. Use of any such linked web site is at the user's own risk.</div>
    </li>
    <li style="text-align: left;"><h2>Site Terms of Use Modifications</h2>
    <div>

CabMe may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</div>
    </li>
    <li style="text-align: left;"><h2>Governing Law</h2>
    <div>

Any claim relating to CabMe's web site shall be governed by the laws of India without regard to its conflict of law provisions.

General Terms and Conditions applicable to Use of a Web Site.</div>
    <div>&nbsp;</div>
    </li>
    
    </ol>
                                <div class="other-terms">
                                    <h3 class="about-title">Privacy Policy</h3>
                                <p>
                                   Your privacy is important to us, and it is CabMe's policy to respect your privacy regarding any information we may collect while operating our websites. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
                                    </p><p>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
We will only retain personal information as long as necessary for the fulfillment of those purposes.
We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
We will make readily available to customers information about our policies and practices relating to the management of personal information.
We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. CabMe may change its Privacy Policy from time to time, and at CabMe's sole discretion.
</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="blog-featured">
          <div class="card type-1">
              <div class="row">
                <h3 class="card-label">Quick Links <span>&gt;</span></h3>
            </div>
            <div class="row">
            <div class="col-s1 featured-list">
              <ul>
                <li><a href="{% url 'cab:about' %}">About</a></li>
              <li><a href="{% url 'cab:career' %}">Career</a></li>
              <li><a href="{% url 'cab:blog' %}">Blog</a></li>
              <li><a href="{% url 'cab:faq' %}">FAQ</a></li>
              <li><a href="{% url 'cab:terms_and_conditions' %}">Terms And Conditions</a></li>
              <li><a href="{% url 'cab:index' %}">Feedback</a></li>
              <li><a href="{% url 'cab:press_release' %}">Press Release</a></li>
              <li><a href="{% url 'cab:index' %}">Testimonials</a></li>
              </ul>
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-s2 left-footer" style="
            padding: 3% 4%;
            height: 67%;
            ">
            <div class="row logo-footer">
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
            <div class="row follow">
                <p>Follow Us</p>
                <ul>
                    <li><img src="{% static 'img/fb.png' %}"></li>
                    <li><img src="{% static 'img/twitter.png' %}"></li>
                    <li><img src="{% static 'img/youtube.png' %}"></li>
                </ul>
            </div>
            <div class="row apps">
                <div class="col">
                    <img src="{% static 'img/playstore.png' %}" alt="">
                </div>
                <div class="col">
                    <img src="{% static 'img/applestore.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="col-s2 right-footer" style="
        padding: 3% 4%;
        height: 67%;
        ">
        <div class="col-s2">
            <h3>Company</h3>
            <ul>
                <li><a href="{% url 'cab:about' %}">About</a></li>
              <li><a href="{% url 'cab:faq' %}">FAQ</a></li>
              <li><a href="{% url 'cab:privacy_policy' %}">Privacy Policy</a></li>
              <li><a href="{% url 'cab:press_release' %}">Press Release</a></li>
              <li><a href="{% url 'cab:terms_and_conditions' %}">Terms And Conditions</a></li>
                
            </ul>
        </div>
        <div class="col-s2">
            <h3>Discover</h3>
            <ul>
              <li><a href="{% url 'cab:blog' %}">Blog</a></li>
              <li><a href="{% url 'cab:career' %}">Career</a></li>
              <li><a href="{% url 'cab:index' %}">Testimonials</a></li>
              <li><a href="{% url 'cab:index' %}">Feedback</a></li>
            </ul>
        </div>
    </div>
    </div>
    </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    </body>
    </html>
