
{% load staticfiles %}
<html>

<head>
   <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
   <script type="text/javascript" src="{% static 'js/jquery.min.js' %}">
   </script>
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6BapCW5Hy7dB-gpx-JxKy0OohaRm5aX0&region=GB"></script>
   
    <script src="https://cdn.jsdelivr.net/gmap3/7.0.0/gmap3.min.js">  </script>
   <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}">
   </script>

   <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
   <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
   <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
   <script src="{% static 'js/owl.carousel.min.js' %}"></script>
</head>

<body>

   <div class="landing-wrapper">
       <div class="nav">
           <div class="nav-inner">
             <div class="logo">
              <img src="{% static 'img/logo.png' %}">
          </div>
          <div class="menu">
              <ul class="nav-menu">
                 <li>Deals </li>
                 <li>C Cash</li>
                 <li>CabMe Corporate</li>
             </ul>
             <ul class="account-menu">
                 <li>Sign In</li>
             </ul>
         </div>
     </div>
 </div>
 <div class="content">
  <div class="back-drop"> </div>
 <div class="row">
      <div class="blog-panel">
          <div class="card type-1">
          <div class="headers">
                    <ul>
                        <li class="active"><a href="{% url 'cab:index' %}">Routes</a></li> 
                    </ul>
                </div>
              <div class="row">
                <h3 class="card-label blog-title"><span class="place1">Delhi</span> to <span class="place2">Jaipur </h3>
            </div>
            <div class="row blog-details">
                <div class="col-s1 blog-image">
                    <div class="map-wrapper">
                    </div>
                </div>
                <div class="row blog-content">
                    <div class="col-s6-5">
                        <div class="small-details map-data row"><h3>Distance
                        <span class="map-distance"></span> 
                        </h3>
                        <h3>Duration
                        <span class="map-duration">
                        </span>
                        </h3>
                        </div>
                        <div class="row">
                        <h3 class="map-heading"> Fare Chart </h3>
                         </div>
                        <div class="cab-details">
                        <div class="cab-header">
                          <div class="vehicle-type">Vehicle-Type</div>
                          <div class="km-rate">Per Km Rate</div>
                          <div class="other-charges">Other Charges</div>
                          <div class="min-km-day">Min Kms/Day</div>
                        </div>
                        <div class="cab-list">
                          <div class="cab-item" style="display: none">
                            <div class="vehicle-type">Tata Indigo Ac 4 Seater</div>
                          <div class="km-rate">10.00</div>
                          <div class="other-charges">200.00</div>
                          <div class="min-km-day">250</div>
                          </div>
                        </div>
                        <button type="submit" class="form-submit">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-featured">
      <div class="card type-1">
          <div class="row">
            <h3 class="card-label">Popular Destinations <span>&gt;</span></h3>
        </div>
        <div class="row">
        <div class="col-s1 featured-list destinations">
          <ul class="places-list">
              <li style="display: none"><span class="place1"></span> to <span class="other-place"></span></li>
              
          </ul>
        </div>
        </div>
    </div>
    <div class="card type-1">
          <div class="row">
            <h3 class="card-label"><span class="place1"></span> to <span class="place2"></span> Taxi Fare & <span class="place1"></span> Cab Rates</h3>
        </div>
        <div class="row">
        <div class="col-s1 featured-list destinations">
         <p class="map-page-desc">We offer a wide range of air conditioned vehicles including Indica, Innova, Indigo and luxury cabs depending on your group size and budget. Our well trained and experienced drivers will guide you to best places in and around <span class="place1"></span>.</p>
        </div>
        </div>
    </div>
   
  </div>
</div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-s2 left-footer" style="
        padding: 3% 4%;
        height: 67%;
        ">
        <div class="row logo-footer">
            <img src="{% static 'img/logo.png' %}" alt="">
        </div>
        <div class="row follow">
            <p>Follow Us</p>
            <ul>
                <li><img src="{% static 'img/fb.png' %}"></li>
                <li><img src="{% static 'img/twitter.png' %}"></li>
                <li><img src="{% static 'img/youtube.png' %}"></li>
            </ul>
        </div>
        <div class="row apps">
            <div class="col">
                <img src="{% static 'img/playstore.png' %}" alt="">
            </div>
            <div class="col">
                <img src="{% static 'img/applestore.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="col-s2 right-footer" style="
    padding: 3% 4%;
    height: 67%;
    ">
     <div class="col-s2">
            <h3>Company</h3>
            <ul>
                <li><a href="{% url 'cab:about' %}">About</a></li>
              <li><a href="{% url 'cab:faq' %}">FAQ</a></li>
              <li><a href="{% url 'cab:privacy_policy' %}">Privacy Policy</a></li>
              <li><a href="{% url 'cab:press_release' %}">Press Release</a></li>
              <li><a href="{% url 'cab:terms_and_conditions' %}">Terms And Conditions</a></li>
                
            </ul>
        </div>
        <div class="col-s2">
            <h3>Discover</h3>
            <ul>
              <li><a href="{% url 'cab:blog' %}">Blog</a></li>
              <li><a href="{% url 'cab:career' %}">Career</a></li>
              <li><a href="{% url 'cab:index' %}">Testimonials</a></li>
              <li><a href="{% url 'cab:index' %}">Feedback</a></li>
            </ul>
        </div>
</div>
</div>
</div>
</div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
