
    {% load staticfiles %}
    <html>

    <head>
       <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
       <script type="text/javascript" src="{% static 'js/jquery.min.js' %}">
       </script>
       <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}">
       </script>

       <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
       <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
       <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
       <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    </head>

    <body>

       <div class="landing-wrapper">
           <div class="nav">
               <div class="nav-inner">
                 <div class="logo">
                  <img src="{% static 'img/logo.png' %}">
              </div>
              <div class="menu">
                  <ul class="nav-menu">
                     <li>Deals </li>
                     <li>C Cash</li>
                     <li>CabMe Corporate</li>
                 </ul>
                 <ul class="account-menu">
                     <li>Sign In</li>
                 </ul>
             </div>
         </div>
     </div>
     <div class="content">
      <div class="back-drop"> </div>
     <div class="row">
          <div class="blog-panel">
              <div class="card type-1">
              <div class="headers">
                        <ul>
                            <li class="active"><a href="{% url 'cab:index' %}">Terms & Conditions</a></li> 
                        </ul>
                    </div>
                  <div class="row">
                    <h3 class="card-label about-title">Things To Know</h3>
                </div>
                <div class="row blog-details">

                    <div class="row terms-content">
                        <div class="col-s1">

                            <div class="text-content">
                                <ol class="terms-list">
    <li>
    <div style="text-align: left;">The passenger should mention about the locations he/she needs to visit beforehand so that adequate arrangements for comfort of the passenger could be made and suitable cab be sent accordingly.</div>
    </li>
    <li style="text-align: left;">
    <div>The passenger guarantees that the information you provide to CabMe is accurate and complete. CabMe is entitled to at all time verify the information provided by the passenger.</div>
    </li>
    <li style="text-align: left;">
    <div>It is the passenger’s responsibility to check and ensure that he/she downloads the correct mobile application for his/her device or visit the correct .CabMe shall not be liable if you do not download the correct mobile application or do not visit the appropriate web portal.&nbsp;</div>
    </li>
    <li style="text-align: left;">
    <div>Passenger must be at least 18 years of age to be eligible to use our Services. He/she may not allow people under the age of 18 to receive transportation or logistics services from Third Party Providers unless they are accompanied by you.</div>
    </li>
    <li style="text-align: left;">
    <div>The passenger should log into the site with proper credentials before booking a ride.</div>
    </li>
    <li style="text-align: left;">
    <div>The Company encourages all its customers to take full responsibility of his/her items. In case of lost items inside the cabs during the journey. CabMe will try to locate the items on a "best-effort" basis but will not responsible for the same in case of loss or damage to the same.</div>
    </li>
    <li style="text-align: left;">
    <div>&nbsp;You cannot: Remove any copyright, trademark or other notices from any portion of the Services</div>
    <div>Reproduce, modify, distribute, license, lease, sell, resell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Services except as expressly permitted by CabMe.</div>
    <div>&nbsp;</div>
    </li>
    <li style="text-align: left;">
    <div>&nbsp;The passenger should not negotiate about the rates of the journey once the journey is commenced. All the disputes regarding cost of the journey shall be settled before the journey has started.</div>
    <div>&nbsp;</div>
    </li>
    <li style="text-align: left;">
    <div>Passenger’s geo-location information will be monitored and tracked by CabMe when you are logged into the Driver App and available to receive requests for Transportation Services or when you are providing Transportation Services.</div>
    <div>&nbsp;</div>
    </li>
    <li style="text-align: left;">
    <div>&nbsp;In case of emergency the passenger holds full liberty for seeking help from fellow passengers or using our “emergency” service on the app. Please note that we are not responsible for the behavior, actions or inactions of drivers of taxis (through us or otherwise).</div>
    <div>&nbsp; &nbsp; </div>
    </li>
    <li style="text-align: left;">
    <div> The passenger shall be charged according to the distance of the journey as displayed on the odometer. He/she holds full liberty to question the route taken by driver to reach the destination.</div>
    </li>
    <li style="text-align: left;">
    <div>Demand for a Taxi with/without carrier shall be specified beforehand.</div>
    </li>
    <li style="text-align: left;">
    <div>Please note that we are not responsible for the behavior , actions or inactions of drivers of taxis (through us or otherwise).</div>
    </li>
    <li style="text-align: left;">
    <div>CabMe is not responsible for performance, quality and claims of any 3rd party product &amp;/or services offered under this, if any.</div>
    </li>
    <li style="text-align: left;">
    <div>In the event any passenger misses the train or flight or bus, CabMe will not be held liable for any compensation and/or any direct or indirect losses incurred by the customer.</div>
    </li>
    <li style="text-align: left;">
    <div>Although we do our utmost to ensure that drivers adhere to local driving laws and drive carefully and safely, CabMe does not take any guarantee of your safety while driving with us and will not be held accountable for road accidents(which includes loss, damage, injury ,death ) that occur during your travels with us.</div>
    </li>
    <li style="text-align: left;">
    <div>You will treat taxi drivers introduced to you through us with respect and not to cause damage to their taxi or engage in any unlawful, threatening.</div>
    </li>
    <li style="text-align: left;">
    <div>CabMe is not liable for any delays, cancellations, failure to cancel the contract and miscommunication between passenger and driver, nor for any delay or failure.</div>
    </li>
    <li style="text-align: left;">
    <div>The passenger should not enter the taxi in intoxicated state and should be aware enough to maintain the decorum of the ride. Thus, he/she should respect co-passengers and should be avoiding trouble of any form. .You will treat taxi drivers introduced to you through us with respect and not to cause damage to their taxi or engage in any unlawful, threatening, harassing, abusive behavior or activity whilst using their taxi or the service. In case of any such report, CabMe holds full liberty to withdraw any form of offer/bonus offered to the passenger. “Ride points” of the customer may also be reduced in extreme cases.You will compensate and defend us fully against any claims or legal proceedings brought against us by any other person as a result of your breach of these Terms.</div>
    </li>
    <li style="text-align: left;">
    <div>By using the mobile Application of CabMe, you further agree that:&nbsp;
        <ul>
<li>You will not use an account that is subject to any rights of a person other than you without appropriate authorization.</li>
<li>You will not assign or otherwise transfer your account to any other person or legal entity;</li>
<li>You will not authorize others to use your account;</li>
<li>You will download the Application for your sole, personal use and will not resell it to a third party;</li>
</ul>
        </div>
    </li>
    </ol>
                                <div class="other-terms">
                                <p>
                                    All related icons and logos are registered trademarks or service marks CabMe in various jurisdictions and are protected under applicable copyrights, trademarks .The unauthorized copying, modification, use or publication of these marks is strictly prohibited .All the contents on this web site is copyright of CabMe.
 
(“You/he/she” refers to the passenger wherever there is a situation of doubt.)</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="blog-featured">
          <div class="card type-1">
              <div class="row">
                <h3 class="card-label">Quick Links <span>&gt;</span></h3>
            </div>
            <div class="row">
            <div class="col-s1 featured-list">
              <ul>
                   <li><a href="{% url 'cab:about' %}">About</a></li>
              <li><a href="{% url 'cab:career' %}">Career</a></li>
              <li><a href="{% url 'cab:blog' %}">Blog</a></li>
              <li><a href="{% url 'cab:faq' %}">FAQ</a></li>
              <li><a href="{% url 'cab:privacy_policy' %}">Privacy Policy</a></li>
              <li><a href="{% url 'cab:index' %}">Feedback</a></li>
              <li><a href="{% url 'cab:press_release' %}">Press Release</a></li>
              <li><a href="{% url 'cab:index' %}">Testimonials</a></li>
              </ul>
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-s2 left-footer" style="
            padding: 3% 4%;
            height: 67%;
            ">
            <div class="row logo-footer">
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
            <div class="row follow">
                <p>Follow Us</p>
                <ul>
                    <li><img src="{% static 'img/fb.png' %}"></li>
                    <li><img src="{% static 'img/twitter.png' %}"></li>
                    <li><img src="{% static 'img/youtube.png' %}"></li>
                </ul>
            </div>
            <div class="row apps">
                <div class="col">
                    <img src="{% static 'img/playstore.png' %}" alt="">
                </div>
                <div class="col">
                    <img src="{% static 'img/applestore.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="col-s2 right-footer" style="
        padding: 3% 4%;
        height: 67%;
        ">
        <div class="col-s2">
            <h3>Company</h3>
            <ul>
                <li><a href="{% url 'cab:about' %}">About</a></li>
              <li><a href="{% url 'cab:faq' %}">FAQ</a></li>
              <li><a href="{% url 'cab:privacy_policy' %}">Privacy Policy</a></li>
              <li><a href="{% url 'cab:press_release' %}">Press Release</a></li>
              <li><a href="{% url 'cab:terms_and_conditions' %}">Terms And Conditions</a></li>
                
            </ul>
        </div>
        <div class="col-s2">
            <h3>Discover</h3>
            <ul>
              <li><a href="{% url 'cab:blog' %}">Blog</a></li>
              <li><a href="{% url 'cab:career' %}">Career</a></li>
              <li><a href="{% url 'cab:index' %}">Testimonials</a></li>
              <li><a href="{% url 'cab:index' %}">Feedback</a></li>
            </ul>
        </div>
    </div>
    </div>
    </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    </body>
    </html>
