html,body{
  margin: 0;
  background: #f3f7f8;
  overflow-x: hidden;
}

.landing-wrapper{
  width: 100vw;
  margin: 0;
/*  height: 100%;*/
}

.nav{
  position: fixed;
  top:0;
  width: 100%;
  height: 12vh;
  background: white;
  z-index: 999;
      display: flex;
    align-items: center; 
}

.nav-inner{
  color: #212f4c;
  padding: 9px 26px;
  display: flex;
  align-items: center;
}

.logo,.menu{
  display: inline-block;
  /* height: 8vh; */
  position: relative;
  float: r;
}

.logo{
  left: 4vh;
}

.logo img{
  height: 6vh;
}

.menu {
    position: absolute;
    right: 4%;
}

.nav-menu,.account-menu{
  display: inline-block;
  list-style: none;
  margin: 10px 6px;
  padding: 5px 9px;
  color: #212f4c;
  font-family: sans-serif;
}

ul.account-menu {
    background: #212f4c;
    color: white;
    border-radius: 3px;
    font-family: Verdana,sans-serif;
    cursor:pointer;
}

.nav-menu li,.account-menu li{
  display: inline;
  padding: 4px 8px;
}


.back-drop{
  background-color: #212f4c;
  position: relative;
  top:12vh;
  height: 30vh;
}

.card{
  position: relative;
  background: white;
  height: auto;
  margin: 0 auto;
  box-shadow: -6px 7px 16px -4px black;
  margin-top: 6vh;
  top: -12vh;
}

.card.type-1{

  padding: 14px;
  width: 87%;
}

.card.type-2 {
  padding: 0;
  width: calc(87% + 28px);
  display: flex;
  flex-direction: column;
  }



.headers {
  position: absolute;
  width: 100%;
  top: -9vh;
  font-family: sans-serif;
  color: rgb(240, 240, 154);
}
.headers ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.headers ul li{
  display: inline-block;
  padding: 6px 3.5%;
  margin: 3px 4%;
  text-align: center;
  font-size: 1.1em;
}

.headers ul li a{
  text-decoration: none;
  color: inherit;
}

.headers ul li.active{
  border-bottom: 2px solid;
}

.cab-opts,.form-data{
  position: relative;
  clear: both;
}

.cab-opts ul{
  list-style: none;
  margin: 0;
  padding: 0;
  clear: both;
  display: flex;
}

.cab-opts ul li{

  cursor: pointer;
  display: inline-block;
  padding: 8px 13px;
  margin: 0;
  /* float: left; */
  border: 2px solid #506f9e;
  margin-left: -2px;
  color: #506f9e;
  font-family: sans-serif;
  background: #f3f7f8;
  font-size: 1.2em;
  /* clear: both; */
}

.cab-opts ul li.active {
    background: #506f9e;
    color: white;
}

.form-data{
  display: none;
}

#outstation-form{
  display: block;
}

.form-data span{
  width: 35px;
  height: 35px;
}
span.city{
  background:url(../img/city.svg);
  background-size: 100% 100%;
  float: left;
  /* clear: both;
 */
  /* display: inline-block; */
}


span.reverse{
   background:url(../img/reverse.svg);
   display: block;
   background-size: cover;
 }

 span.calender{
  background:url(../img/calender.svg);
   background-size: cover;
   float: left;
}


.input-row {
    margin: 7px 5px;
    margin-bottom: 15px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}


.radios{
  font-size: 0.9em;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}


.radios label {
    margin-right: 10px;
}

.input-row .input-wrap-2 {
    width: 17%;
    display: inline-block;
    /* float: left; */
    /* left: 0; */
}

.input-row-3 .input-wrap-2 {
    width: 20%;
    display: inline-block;
    /* float: left; */
    /* left: 0; */
}

.form-data {
    margin-top: 2vh;
    padding: 3px 9px;
}

input.input-field {
    line-height: 30px;
    border: none;
    border-bottom: 2px solid #b8b8b8;
    width: calc(100% - 40px);
    margin-top: 4px;
    margin-left: 0px;
    font-size: 1em;
    color: #b8b8b8;
    font-family: sans-serif;
    background: none;
}


input.input-field.return-date-data:disabled{
  background: rgb(235, 235, 228)
}

select#out-cab-class:focus,button.form-submit:focus, 
input.input-field:focus {
    outline: none;
}

.reverse-icon span {
    border-radius: 50%;
    box-shadow: 0 0 9px 1px black;
    display: inline-block;
    margin: 0 auto;
}

.reverse-icon {
    display: inline-block;
    width: 5%;
    text-align: center;
    top: 12px;
    position: relative;
}

.cab-class{
      background: white;
    padding: 6px 4px;
    font-size: 1.1em;
    font-family: sans-serif;
    color: #282727;
    border: 3px solid #506f9e;
    border-radius: 6px;
}

.input-wrap-2 {
    font-family: sans-serif;
    color: #282727;
}

.input-wrap-3 {
    display: inline-block;
    margin-left: 8px;
    width: 10%;
}

button.form-submit {
    background: #212f4c;
    border: none;
    color: white;
    font-size: 1.3em;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}


.left-pane{
  width: 64%;
  display: inline-flex;
}

.right-pane{
  width: 36%;
  display: inline-flex;
  flex-direction: column;
}

.owl-carousel .item img{
    display: block;
    width: 100%;
    height: 76.5vh;

}



.cab-offers .row:nth-of-type(1) .col-s2:nth-of-type(1){
  background:url('../img/hotel1.jpg');
      background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
.cab-offers .row:nth-of-type(1) .col-s2:nth-of-type(2){
  background:url('../img/hotel2.jpg');
      background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

.cab-offers .row:nth-of-type(2) .col-s2:nth-of-type(1){
  background:url('../img/hotel2.jpg');
      background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
.cab-offers .row:nth-of-type(2) .col-s2:nth-of-type(2){
  background:url('../img/hotel3.jpg');
      background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

.cab-offers .row:nth-of-type(3) .col-s2:nth-of-type(1){
  background:url('../img/hotel3.jpg');
      background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
.cab-offers .row:nth-of-type(3) .col-s2:nth-of-type(2){
  background:url('../img/hotel1.jpg');
      background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}



#owl-demo-2 .item img{
  height: 30vh;
}

.row{
  width: 100%;
  display: flex;
}

.col-s1{
  width:100%;
}

.col-s2{
  width: 50%;
}
.col-s3{
  width: 33.33%;
}
.col-s4{
  width: 25%;
}
.col-s5{
  width: 20%;
}
.col-s6{
  width: 16.7%;
}
.col-s6-5{
  width:80%;
}

.col-s6-4{
    width:60%;
}

.col-s6-3{
    width:40%;
}

.right-pane .row{
  height: 33.33%;
  display: flex;
}


.right-pane .col-s2{
  border: 1px solid #ddd;

}

.right-pane .row .col-s2:nth-of-type(1){
  border-right: none;
}

.right-pane .row:nth-of-type(1) .col-s2,.right-pane .row:nth-of-type(2) .col-s2{
  border-bottom: none;
  }


  .banner{
  flex-direction: column;
  }


  .card-label{
        margin-left: 3%;
    font-family: sans-serif;
    color: #212f4c;
  }

  .card-label span.caret{
        color: white;
    background: #212f4c;
    border-radius: 50%;
    padding: 0px 4.8px;
    font-size: 0.8em;
  }

  .card-label.type-2{
    text-align: center;
    position: relative;
    top: -7vh;
    padding: 5px 8px;
    border-bottom: 3px solid #506f9e;
    font-size: 1.3em;
    margin: 0;
  }

  #owl-demo-3 .item{
  background: #a1def8;
  padding: 30px 0px;
  display: block;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.card-2{
  margin: 0 auto;
  margin-top: 0px;
  width: 90%;
}

.offers .row .card{
     height: 40vh;
    width: 90%;
    top: 0;

}

.offers .row .col-s3:nth-of-type(1) .card{
  background:url('../img/hotel1.jpg');
      background-position: center;
    background-size: cover;
}
.offers .row .col-s3:nth-of-type(2) .card{
  background:url('../img/hotel2.jpg');
      background-position: center;
    background-size: cover;
}
.offers .row .col-s3:nth-of-type(3) .card{
  background:url('../img/hotel3.jpg');
      background-position: center;
    background-size: cover;
}


.dest .row{
  margin-top: 20px;
}

.dest .row .col-s4{
  display: flex;

}

.dest-name{
     width: 85%;
    margin: 0 auto;
    height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  font-size: 1.4em;
      border-radius: 5px;
}



.dest .row:nth-of-type(2) .col-s4:nth-of-type(1) .dest-name{
  background:url('../img/dest1.jpg');
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dest .row:nth-of-type(2) .col-s4:nth-of-type(2) .dest-name{
  background:url('../img/dest2.jpg');
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dest .row:nth-of-type(2) .col-s4:nth-of-type(3) .dest-name{
  background:url('../img/dest3.jpg');
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dest .row:nth-of-type(2) .col-s4:nth-of-type(4) .dest-name{
  background:url('../img/dest4.jpg');
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dest .row:nth-of-type(3) .col-s4:nth-of-type(1) .dest-name{
  background:url('../img/dest5.jpg');
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dest .row:nth-of-type(3) .col-s4:nth-of-type(2) .dest-name{
  background:url('../img/dest6.jpg');
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dest .row:nth-of-type(3) .col-s4:nth-of-type(3) .dest-name{
  background:url('../img/dest7.jpg');
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dest .row:nth-of-type(3) .col-s4:nth-of-type(4) .dest-name{
  background:url('../img/dest8.jpg');
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.testimonial-detail {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F5F8F9;
    border: 1px solid #DEEAEE;
    padding: 3px 18px;
}

.text {
    font-family: sans-serif;
    top: -22px;
    position: relative;
    /* text-indent: 25px; */
}

.img img {
    border-radius: 50%;
    top: -40px;
    position: relative;
}

.img {
    text-align: center;
}

.head {
    text-align: right;
    font-weight: 600;
}


.footer{
  display: flex;
  height: 44vh;
  /* background:#404957 url('../img/footer-bg.png'); */
  background: #212f4c;
  background-position: bottom;
  background-repeat: no-repeat;
}

.footer .left-pane{
  width: 50%;
  display: inline-flex;
}

.footer .right-pane{
  width: 50%;
  display: inline-flex;
}

/*
.footer .col-s2 .row{
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img{
  height: auto;
}
.footer-logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    padding: 10px 15px;
    position: relative;
    left: -16%;
}

.follow p{
  font-family: sans-serif;
  color: white;
      position: relative;
    left: -10%;
}

.follow ul li{
  list-style: none;
  display: inline-block;

}

.follow ul li img {
    height: 34px;
}

.follow ul {
    margin: 0;
    position: relative;
    left: -13%;
}

.apps img{
  height: 7vh;
}

.apps .col-s4 {
    position: relative;
    left: -4%;
}

.logo-footer,.follow,.apps{
  width: 80%
  left:20%;
  position: absolute;
}*/

.footer .col-s2 .row {
    width: 80%;
    /* left: 20%; */
    position: relative;
    margin-top: 16px;
}

.logo-footer img {
    height: 7vh;
    background: white;
    padding: 5px 8px;
}

.row.logo-footer {
    /*margin-top: 4vh;*/
    /* background: white; */
}

.row.follow {
    display: flex;
    align-items: center;
}

.follow p {
    font-family: sans-serif;
    color: white;
    font-size: 1.2em;
    margin: 0;
}

.follow ul {
    margin: 0;
    list-style: none;
}

.follow ul li {
    display: inline-block;
}

.follow ul li img {
    height: 35px;
}

.apps img {
    height: 7vh;
    margin-right: 17px;
}

.col:nth-of-type(1) {}

.login-form-wrapper .col-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-footer .col-s2 {
    display: inline-block;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
}

.col-s2.right-footer {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.right-footer h3 {
    font-family: sans-serif;
    color: white;
    margin: 0;
    margin-top: 16px;
}

.right-footer ul {
    list-style: none;
    color: white;
    font-family: sans-serif;
    padding-left: 0;
    /* margin-top: 8px; */
}

.right-footer li {
    line-height: 25px;
}

.right-footer a {
    text-decoration: none;
    color: inherit;
}

/*            SEARCH PAGE              */



.search-headers .col-s5 {
    display: inline-block;
    width: 13.67%;
    margin-right: 2%;
    font-family: sans-serif;
    border-right: 1px solid #b8b8b8;
}

.search-headers {
    width: 90%;
    margin: 0 auto;
}

.search-headers p {
    font-size: 0.8em;
    margin: 0;
    color: #b8b8b8;
}

.search-headers h4 {
    font-size: 1em;
    margin-bottom: 0;
    color: #4a4a4a;
    margin-top: 0.8em;
}

.search-headers .col-s5.input-wrap-3 {
    margin-left: 10px;
    border-right: none;
    /* width: 15%; */
}

.search-headers button.form-submit {
    width: 100%;
    top: -11px;
    position: relative;
    background: #212f4c;
}



.search-headbar .col-s5{
  display: inline-block;
}

.search-headbar {
     width: 94%; 
     padding: 0 3%;
    font-family: sans-serif;
    font-size: 0.9em;
    color: #9b9b9b;
    background: #f9f9f9;
    text-align: center;
}


.search-results {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid #b8b8b8;
    margin: 0 3%;
    width: 94%;
}

.search-results .col-s6 {
    display: inline-block;
}


.search-results img {
    width: 90%;
}

.search-results .input-wrap-3 {
    margin-left: 0 !Important;
}


.search-results button.form-submit {
    background: #212f4c;
}

.row.search-results-wrap {
    flex-direction: column;
}
/*    END SEARCH PAGE         */


/*    SUMMARY PAGE    */

.summary-headers .col-s3 {
    display: inline-block;
}

div#outstation-summary {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 94%;
    margin: 0 auto;
}

.summary-headers img {
    width: 80%;
    left: 10%;
    position: relative;
}


h4.cab-type {
    margin: 7px 0px;
    text-align: center;
    font-family: sans-serif;
}

h4.search-data {
    font-size: 1.5em;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 6px;
    color: #444;
}

.summary-headers p {
    margin: 0 auto;
    font-family: sans-serif;
    color: #444;
}


.arrow.col-s6 {
    text-align: center;
}


.fare-detail h3 {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    color: white;
    background: #212f4c;
    padding: 6px;
    font-weight: 400;
    /* width: calc(100% - 12px); */
}

.fare-detail .row .col-s2{
  display: inline-flex;
  padding: 16px 3px;
  align-items: center;
  er; */
  align-items: center;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 0.8em;
}


.fare-detail .row {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    color: #444;
}

.summary-headers .col-s4 {
    margin-left: 6%;
}


.fare-detail {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 0px black;
}


.fare-detail .row .col-s2:nth-of-type(1) {
    border-right: 1px solid #ccc;
    font-weight: bold;
}

.fare-detail .row:last-of-type {
    /* border-bottom: none; */
}

.form-opts.personal-info .form-data {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0vh;
    flex-wrap: wrap;
}

label.p-label {
    display: inline-block;
    line-height: 30px;
    margin-top: 4px;
    margin-right: 9px;
    font-family: sans-serif;
}


p.p-label {
    margin: 0.5em 0;
}

.input-radio-opts{
  margin: 0.5em 1em;
}

.personal-info input {
    /* display: inline-block; */
    width: auto;
}

.input-wrap-2.ui-widget {}

.personal-info .input-wrap-2 {
    display: flex;
    width: auto;
    margin: 15px 3px;
}

.personal-info .form-data .col-s2{
  display: inline-block;
  width: 47%;
  margin: 0;
}


.personal-info .form-data .input-row:nth-of-type(1) label {
    width: 53px;
}

.personal-info .form-data .input-row:nth-of-type(2) label {
    width: 130px;
}

.personal-info select {
    border-color:  #b8b8b8;
    margin: 1px 1px;
}


.personal-info textarea {
    font-size: 1em;
    font-family: sans-serif;
    line-height: 30px;
    border-color: #b8b8b8;
}


.form-opts.personal-info {
    margin: 0 auto;
    margin-bottom: 6%;
}


.personal-info .input-wrap-3 {
    margin-top: 6%;
}


.personal-info .form-submit {
    background: #212f4c;
}
/*    END SUMMARY PAGE  */



/*  START BLOG PAGE   */

.blog-details {
    flex-direction: column;
    margin-bottom: 1.8em;
}

.row.blog-content {
    margin-top: 3%;
}

.blog-content .col-s6-5 {
    margin: 0 auto;
}

.blog-panel{
  width:70%;
}

.blog-featured{
  width: 26%;
}

.blog-title {
    font-weight: 100;
    font-size: 1.5em;
  }

.small-details {
    margin-bottom: 3%;
    /* text-align: center; */
    width: 63%;
    font-size: 12px;
    color: #717171;
    font-family: Helvetica;
    letter-spacing: 0.8px;
    display: block;
}

.text-content {
    font-size: 0.975em;
    line-height: 1.71429;
    font-family: Helvetica;
    color: #222231;
    font-weight: 400;
    margin: 0 0.5em;
}


.blog-image img {
    width: 100%;
}

.featured-list ul {
    padding: 7px;
    margin: 0 auto;
    font-family: Helvetica;
    font-size: 0.9em;
    width: 90%;
    word-spacing: 3px;
}

.featured-list li {
    margin: 7px 0px;
    list-style-image: url('../img/send.svg');
    list-style-position: initial;
    cursor: pointer;
}

.featured-list a {
    text-decoration: none;
    color: inherit;
}

.featured-list li:hover {
    color: #212f4c;
}



/*   END BLOG PAGE    */


/*    START ROUTES PAGE     */
.place1,.place2{

}

.map-wrapper{
  height: 50vh;
  width:80%;
  margin:0 auto;
}

.map-data h3{
    margin:5px 0px;
}

h3.map-heading {
    font-family: sans-serif;
    color: #333;
    margin: 7px auto;
    font-size: 1.4em;
    font-weight: lighter;
}



.cab-header {
    display: flex;
    font-family: sans-serif;
    font-size: 0.9em;
        margin: 5px 0 25px 0;
}

.cab-header div {
    width: 25%;
    text-align: center;
    color: #777;
}


.cab-list {
    margin: 10px 0;
}

.cab-item {
    display: flex;
    font-size: 1.2em;
    font-family: sans-serif;
    margin: 11px 0px;
}

.cab-item div {
    width: 25%;
    text-align: center;
    /* font-size: 1em; */
}

.cab-details button.form-submit {
    background: #212f4c;
   float: right;
   position: relative;
   right: 50px;
}

p.map-page-desc {
    font-size: 1em;
    font-family: sans-serif;
    margin-left: 3%;
    margin-top: 0px;
}


/*    END ROUTES PAGE */



/*  START ABOUT PAGE   */

.about-title {
    font-weight: 100;
    font-size: 1.5em;
    margin: 0.6em 0.5em 0.1em 0.5em;
  }

.about-content li{
        list-style-image: url(../img/send.svg);
    list-style-position: initial;
}

/*  END ABOUT PAGE*/



/* START PRESS RELEASE PAGE  */
.press-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.press-img img {
    width: 85%;
}

.text-content.press-text {
    font-size: 0.9em;
}

.row.press-content {
    border-bottom: 1px solid #ddd;
}
/* END PRESS RELEASE PAGE  */


/* START TERMS PAGE  */
.terms-list li{
    font-weight: normal;
    text-align: justify !important;
}

.terms-list ul li {
    list-style-type: initial;
}

.other-terms {
    margin: 0 1em;
    text-align: justify;
}

ol.terms-list {
    margin-right: 1em;
}

/* END TERMS PAGE*/


/* START FAQ   PAGE*/

.faq-text h2 {
    margin: 0;
    font-size: 1.1em;
}

.faq-text h3 {
    margin: 0.5em 0;
    font-size: 1.1em;
    color: #4e505d;
}

.faq-text p {
    margin: 0em 0 1.3em 0;
}

/* END  FAQ  PAGE*/


/* START PRIVACy POLICY PAGE*/
.privacy-list h2 {
    margin: 0;
    font-size: 1em;
    margin-bottom: 0.2em;
}

.privacy-list li {
    margin-bottom: 1.1em;
}

/* END PRIVACY POLICY PAGE*/



/*  START CAREER PAGE   */

.career-panel{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

.career-text h3 {
    text-align: center;
    margin: 0.5em 0;
    font-size: 1.1em;
    color: #4e505d;
}

.career-text p {
    text-align: justify;
}

.career-details {
    flex-direction: column;
    
}

.career-apply h3 {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    margin: 0;
    display: inline;
    padding: 9px 16px;
    border: 1px solid #212f4c;
    color: white;
    border-radius: 1.1px;
    font-size: 1em;
    background: #212f4c;
    cursor: pointer;
}

.career-apply {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}
/*  END CAREER PAGE*/



/* START FLIGHT PAGE */
.flight-routes p{
    color:#212f4c;
}
/* END FLIGHT PAGE */



/* START LIGHTBOX  */


.lightbox-wrapper {
  display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.close {
  cursor: pointer;
    color: white;
    font-size: 3em;
    position: absolute;
    right: 0.6em;
}

.lightbox-overlay{
    background: rgba(0,0,0,0.4);

}

.lightbox-inner-wrapper,.lightbox-overlay{

   position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;

}

.lightbox-inner {
    width: 50vw;
    min-height: 63vh;
    background: white;
    min-width: 620px;
    /* min-height: 410px; */
    display: flex;
    flex-direction: column;
    box-shadow: -3px 3px 20px 0px black;
    position: relative;
}


.lightbox-inner.temp{
  background: #212f4c;
}

.lightbox-inner.center{
  position: relative;
  top:0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}




.lightbox-inner.login-reg{
  background-color: #212f4c;
  
}

.back-head{
    position: relative;
    min-height: 10vh;
    top: 0;
}


.lightbox-inner .headers{
  top:0;
  position: relative;
  margin: 10px 6px;
  }

.lightbox-inner .headers li{
  cursor: pointer;
}


.form-inner form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

/*.login-form-wrapper input {
    margin: 0.6em 0;
    font-size: 1em;
    padding: 5px 8px;
    border-radius: 2px;
    border: none;
}
*/
.login-form-wrapper button[type=submit] {
    border: none;
    font-size: 1em;
    padding: 7px 10px;
    border-radius: 0px;
    background: none;
    margin-top: 1.1em;
    color: #f0f09a;
    border: 1px solid #f0f09a;

    cursor: pointer;
}

.login-form-wrapper.row {
    min-height: 49vh;
    position: relative;
    top: 0;
}


p.forgot-pass {
    color: #f0f09a;
    font-family: sans-serif;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
}

.foot-note {
    margin-top: 2vh;
}

.login-form-wrapper input.input-field {
    color: white;
    border-bottom-color: #f0f09a;
    width: 177px;
    font-size: 0.9em;
}

.login-form-wrapper input.input-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.login-form-wrapper input.input-field::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.login-form-wrapper input.input-field:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.login-form-wrapper input.input-field:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.login-form-wrapper .input-wrap-2 {
    margin: 0.3em 0;
}


.logo-sm img {
    width: 120px;
    padding: 10px 22px;
}

.logo-sm {
    background: white;
    margin-bottom: 15px;
}

.form-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-inner form{
  display: none;
}

form#login-form{
  display: block;
}

.forgot-pass-text{
      width: 215px;
    left: calc((215px - 177px)/2);
    position: relative;
    margin-bottom: 1.5em !important;
}

.forgot-pass-text h3 {
    margin: 0;
    color: white;
    font-size: 0.9em;
}

.forgot-pass-text p {
    color: white;
    margin: 2% 0px;
    font-size: 0.8em;
}

.social-wrapper{
  justify-content: flex-start !important;
  flex-direction: column;
}

.social-wrapper p {
    font-size: 1em;
    font-family: sans-serif;
    color: #f0f09a;
}


.social-button {
    margin: 2em 0;
}
.post-cab-wrap img {
    width: 100%;
    height: 100%;
}

.post-cab-wrap .row {
    height: 63vh;
}

.col-s2 {}

.col-s2.content-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212f4c;
}

.post-cab-wrap h1 {
    font-family: sans-serif;
    margin: 0;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 3em;
    color: white;
}

.post-cab-wrap p {
    font-family: sans-serif;
    text-align: center;
    color: rgb(240, 240, 154);
    margin: 0;
    padding: 10px 10px;
    border: 1px solid;
    cursor: pointer;
}

.content-display-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* END LIGHTBOX*/



/* START DASHBOARD */

.inner-dash{
  top:0;
  position: relative;
  color:#212f4c;
}

.inner-dash li.active{
  border-bottom-color: #212f4c;
}


.inner-dash ul li {
    font-size: 0.8em;
    margin: 3px 7px;
    padding: 8px 2.6%;
    cursor: pointer;
}

.field-wrapper{
    margin-bottom: 7px;
    display: flex;
    align-items: center;
  }

.field-wrapper p {
    margin: 5px 0px;
}

.field-wrapper .col1{/* float: left!important; */width: 130px;font-size: 0.8em;color: #828282;font-family: sans-serif;font-weight: 400;text-align: right;margin-right: 10px;}
.field-wrapper .col2{/* float: left!important; */margin-right: 20px;font-size: 0.8em;color: #000;font-weight: 600;font-family: sans-serif;}


.dashboard-details {
    margin-top: 24px;
    width: 100%;
    display: none;
}

.booking-wrapper{
  width: 100%;
}
.personal-info{
  display: flex;
}

input.dashboard-info-input{
    border: none;
    font-weight: 600;
}

#cancel_profile,#save_profile{
  display: none;
}

p#cancel_profile {
    background: #ddd;
    color: black;
}

input.dashboard-info-input.editable {
    font-weight: normal;
    padding: 6px 4px;
    border-radius: 1px;
    outline: none;
    border: 1px solid #aaa;
}


.inner-booking-item{
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.info-wrapper {}

.switch-opts {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    margin-top: 14px;
    margin-left: 100px;
}

.switch-opts p {
    color: white;
    background: #212f4c;
    padding: 10px 12px;
    border-radius: 1.1px;
    font-size: 0.9em;
    margin: 0 3%;
    cursor: pointer;
}

p.message-login {
    margin: 0;
    font-family: sans-serif;
    color: red;
    font-size: 0.9em;
}


.booking-item{
  height: 30vh;
}

.booking-info-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
}

.major-info {}

.major-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-data {
    margin: 10px 4em;
    font-family: sans-serif;
}

p.lg-info {
    margin: 5px;
    font-size: 2em;
    color: #212f4c;
    letter-spacing: 3.2px;
}

p.sm-info {
    margin: 5px;
    font-size: 1.2em;
}

div.sm-info {
    font-family: sans-serif;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

div.sm-info span {
    font-weight: bold;
}

div.sm-info p {
    margin: 0 5%;
}

.minor-info {
    margin-top: 25px;
}

.price-wrapper {
    display: flex;
    justify-content: flex-start;
    font-size: 1.4em;
    font-family: sans-serif;
    color: #212f4c;
    flex-direction: column;
}

.price-wrapper {}

.price-wrapper p {
    margin: 10px 0;
    text-align: center;
    /* margin-right: 27%; */
}

.col-cus {
    width: 75%;
    border-right: 1px solid #ddd;
}

.cab-img img {
    width: 260px;
}
/* END DASHBOARD*/