{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Register User</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script type="text/javascript" src="{% static 'js/jquery.min.js' %}">
   </script>
   <script type="text/javascript" src="{% static 'js/app-script.js' %}">
   </script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login-app-style.css' %}">
</head>
<body>
<div class="container-wrap">
<form id="register-form">
{% csrf_token %}
  <div class="input-wrap">
  	<p class="label">NAME</p>
  	<input class="input-field" type="text" name="Name" required=""></input>
  </div>
   <div class="input-wrap">
  	<p class="label">EMAIL ID</p>
  	<input class="input-field" name="Email" type="email"></input>
  </div>
   <div class="input-wrap">
  	<p class="label">PHONE</p>
  	<input class="input-field" name="Contact" type="text"></input>
  </div>
   
   <div class="input-wrap">
  	<p class="label">PASSWORD</p>
  	<input class="input-field" type="password" name="Password" required=""></input>
	</div>
   <div class="input-wrap">
  	<p class="label">CONFIRM PASSWORD</p>
  	<input class="input-field" type="password" name="Password_confirm" required=""></input>
  </div>
  
  <div class="button-wrap">
    <p   class="submit">SIGN UP</p>
  </div>
</form>
<form id="verify_otp">
{% csrf_token %}
  <div class="input-wrap">
    <p class="label">VERIFY OTP</p>
    <input class="input-field" type="text" name="otp" required=""></input>
  </div>
   
  
  <div class="button-wrap">
    <p   class="submit">VERIFY</p>
  </div>
</form>
<div class="message">
	<p id="message_box"></p>
</div>
</div>
</body>
</html>